[submodule "external/awesome-cv"]
	path = external/awesome-cv
	url = https://github.com/vyasr/Awesome-CV.git
[submodule "external/cv-data"]
	path = external/cv-data
	url = git@github.com:vyasr/cv_data.git
