{{ define "main" }}
  <article class="blog-post content">
    <h1 class="page-title">{{ .Title }}</h1>
    <div class="blog-post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ with .Params.tags }}
        <span class="tag-list">
          {{ range . }}
            <a class="tag-pill" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
        </span>
      {{ end }}
    </div>
    {{ .Content }}
  </article>
{{ end }}
